<?xml version="1.0"?>
<config>
    <modules>
        <Aitoc_Aitloadmon>
            <version>1.0.7</version>
        </Aitoc_Aitloadmon>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aitloadmon before="Mage_Adminhtml">Aitoc_Aitloadmon_Adminhtml</aitloadmon>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <aitloadmon>
                    <file>aitloadmon.xml</file>
                </aitloadmon>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <aitloadmon>
                <class>Aitoc_Aitloadmon_Model</class>
                <resourceModel>aitloadmon_mysql4</resourceModel>
            </aitloadmon>
            <aitloadmon_mysql4>
                <class>Aitoc_Aitloadmon_Model_Mysql4</class>
                <entities>
                    <aitloadmon>
                        <table>aitloadmon</table>
                    </aitloadmon>
                    <dblog>
                        <table>log_url</table>
                    </dblog>
                    <calculator>
                        <table>aitloadmon_calculator</table>
                    </calculator>
                </entities>
            </aitloadmon_mysql4>
        </models>
        <resources>
            <aitloadmon_setup>
                <setup>
                    <module>Aitoc_Aitloadmon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aitloadmon_setup>
            <aitloadmon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aitloadmon_write>
            <aitloadmon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aitloadmon_read>
        </resources>
        <blocks>
            <aitloadmon>
                <class>Aitoc_Aitloadmon_Block</class>
            </aitloadmon>
        </blocks>
        <helpers>
            <aitloadmon>
                <class>Aitoc_Aitloadmon_Helper</class>
            </aitloadmon>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <aitloadmon_process_data>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>aitloadmon/observer::processData</model></run>
            </aitloadmon_process_data>
            <aitloadmon_compress_data>
                <schedule><cron_expr>1 */1 * * *</cron_expr></schedule>
                <run><model>aitloadmon/observer::compressData</model></run>
            </aitloadmon_compress_data>
        </jobs>
    </crontab>
    <default>
        <system>
            <aitloadmon>
                <load_yellow>3</load_yellow>
                <load_red>7</load_red>
                <load_black>10</load_black>
                <manage>a:4:{s:7:"enabled";i:1;s:4:"year";i:3;s:5:"month";i:2;s:3:"day";i:1;}</manage>
            </aitloadmon>
        </system>
    </default>
</config>
<!--
/**
 * @copyright  Copyright (c) 2013 AITOC, Inc. 
 * @license License agreement could be found at the root folder of this package
 */
 -->